{% extends 'base.html.twig' %}
{% block title %}Question: {{ question }}{% endblock %}

{% block body %}
<h1>{{ question }}</h1>

{# oh, un comentario escondido #}

<div>
    Después, pondremos la question completa aquí!
</div>

<h2>Answers ({{ answers|length }})</h2>

<ul>
    {% for answer in answers %}
        <li>{{ answer }}</li>
    {% endfor %}
</ul>
{% endblock %}